import('/src/jstyle/flex.css');

html {
    background-image: url('/static/forest.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    z-index: 0;

    height: 100%;
    width: 100%;
}

button {
    min-height: 32px;
}

.DMTool {
    background-color: white;
    flex-direction: column;

    display: none;

    padding: 16px;
}

body.ShowTools .DMTool {
    display: flex;
}

.North {

}

.East {

}

.South {

}

.West {

}

#storyContainer {
    font-family: sans-serif;

    display: flex;
    flex-direction: column;

    position: absolute;

    bottom: 16px;
    left: 50%;
    right: 50%;
    top: 16px;

    width: 50%;

    margin-left: -25%;

    background-color: white;

    z-index: -1;
}

#story {
    overflow-y: auto;
    line-height: 2em;
}

#story div {
    padding: 0 16px 0 16px;
}

#story > div:nth-child(even) {
    background-color: lightgray;
}