<div id="[[componentId]]" class="CombatSimulatorComponent [[if classNames]][[classNames]][[endif]]">
  <h3>Combat Event</h3>
  <div><i>You are under attack!</i></div>

  <table>
    <tr>
      <th>Name</th>
      <th>HP</th>
      <th>Strength</th>
      <th>Agility</th>
    </tr>

    <tr>
      [[character]]
    </tr>

  </table>

  <div class="FlexRow">
    <div class="FlexExpand"></div>
    <b><i>--- Versus ---</i></b>
    <div class="FlexExpand"></div>
  </div>

  <table>
    <tr>
      <th>Name</th>
      <th>HP</th>
      <th>Strength</th>
      <th>Agility</th>
    </tr>

    <tr>[[enemy]]</tr>
  </table>

  <hr>

  <div>[[if description]]<i>[[description]]</i>[[endif]]</div>

  <div class="FlexRow">

    <div class="FlexExpand"></div>

    <button [[disabled]] onclick="[[this]].onFightButtonClicked();">Fight!</button>
    <button [[disabled]]>Item!</button>
    <button [[disabled]]>Flee!</button>
  </div>

</div>
