<div id="[[componentId]]" class="CharacterFormComponent FlexRow [[if classNames]][[classNames]][[endif]]">

  <div class="FlexColumn">
    <div>Given Name</div>
    <input
      type="text"
      name="givenName"
      value="[[givenName]]">
  
    <div>Family Name</div>
    <input
      type="text"
      name="familyName"
      value="[[familyName]]">

    <div>Gender</div>
    [[genderSelect]]

    <div>Age</div>
    <input
      type="number"
      name="age"
      value="[[age]]"
      step="1"
      min="0">
  
    <div>Species</div>
    [[speciesSelect]]
  </div>

  <div class="FlexColumn">
    <div>Hitpoints</div>
    <input
      name="maxHitpoints"
      value="[[maxHitpoints]]"
      type="number"
      min="0"
      max="10"
      step="1">

    <div>Intelligence</div>
    <input
      name="intelligence"
      value="[[intelligence]]"
      type="number"
      min="0"
      max="10"
      step="1">

    <div>Strength</div>
    <input
      name="strength"
      value="[[strength]]"
      type="number"
      min="0"
      max="10"
      step="1">

    <div>Endurance</div>
    <input
      name="endurance"
      value="[[endurance]]"
      type="number"
      min="0"
      max="10"
      step="1">

    <div>Agility</div>
    <input
      name="agility"
      value="[[agility]]"
      type="number"
      min="0"
      max="10"
      step="1">

    <div>Charisma</div>
    <input
      name="charisma"
      value="[[charisma]]"
      type="number"
      min="0"
      max="10"
      step="1">

    <div>Courage</div>
    <input
      name="courage"
      value="[[courage]]"
      type="number"
      min="0"
      max="10"
      step="1">
  </div>

  <div class="FlexColumn">
    <div>Luck</div>
    <input
      name="luck"
      value="[[luck]]"
      type="number"
      min="0"
      max="10"
      step="1">

    <div>Regeneration</div>
    <input
      name="regeneration"
      value="[[regeneration]]"
      type="number"
      min="0"
      max="10"
      step="1">

    <div>Metabolism</div>
    <input
      name="metabolism"
      value="[[metabolism]]"
      type="number"
      min="0"
      max="10"
      step="1">

    <div>Wealth</div>
    <input
      name="wealth"
      value="[[wealth]]"
      type="number"
      min="0"
      max="10"
      step="1">

    <div>Agreeability</div>
    <input
      name="agreeability"
      value="[[agreeability]]"
      type="number"
      min="0"
      max="10"
      step="1">

    <div>Deception</div>
    <input
      name="deception"
      value="[[deception]]"
      type="number"
      min="0"
      max="10"
      step="1">

    <div>Greed</div>
    <input
      name="greed"
      value="[[greed]]"
      type="number"
      min="0"
      max="10"
      step="1">
  </div>

  <div class="FlexExpand"></div>

  <div class="FlexColumn">
    <div class="FlexExpand"></div>
    <button onclick="[[this]].onAddToLocationButtonClicked();">Add to Location</button>
    <button onclick="[[this]].onAddToPartyButtonClicked();">Add to Party</button>
  </div>
</div>
